body {
    padding: 0;
    margin: 0;
}

.CompanyName {
    text-align: center;
    
}

.Seperation {
    width: 956px;
}

.TopBar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBar {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 0;
}

.NavBar ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 24px;
    padding: 3px;
    border: 1px solid black;
}

h3 {
    margin: 64px;
}

.FirstBlock {
    width: 256px;
    height: inherit;
    margin-top: 64px    ;
    margin-left: 30%;
    margin-bottom: 64px;
    justify-content: end;
}

.SecondBlock {
    margin-left: 60%;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 256px;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.ThirdBlock {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 256px;
    height: inherit;
    margin-left: 30%;
}